httpx>=0.25.0
pandas
scikit-learn
joblib
pydantic
requests
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
firebase-admin==6.5.0
Pillow==10.4.0
python-dotenv==1.0.1

numpy
tensorflow
httpx>=0.25.0

